<div>

  <div>
    <mat-card class='mat-card'>
      <mat-card-title class='mat-card-title'>CAnswer</mat-card-title>
      <mat-card-subtitle>Introduction</mat-card-subtitle>
        <mat-card-content>
           The CAnswer app is your answer to cancer prevention , well atleast one that doesnt end in a coffin.It was developed by a group of 3rd year Informatics stduents at teh University of Pretoria.
        </mat-card-content>
        <mat-card-subtitle>About the App</mat-card-subtitle>
        <mat-card-content>
          This app aims to educate its users about the Lung Cancer, which holds one the highest mortality rates. The application gives users the opportunity to interact with other people affected by lung cancer. The App has the follwoing functionalities
          #Updates 
          Collabarators are able to post facts , opinions and articles related to the disease to help users know more about the type of cancer. 
          #forum 
          A community where a user can post questions and find others and communicate with people going through the same thing.
          #Add Collabarators
          Only  the master user is able to add Collabaratorsdue to security purposes.
        </mat-card-content>
        <mat-card-subtitle>Meet the Team</mat-card-subtitle>
        <mat-card-content>
          <div>
          <label>Nosisa Matsebula </label>
          <label> Student Number: </label>
          </div>

          <div>
              <label>Titile Gama </label>
              <label> Student Number: </label>
              </div>
          <div>
            <label>Justin Michel </label>
            <label> Student Number: </label>
          </div> 

          <div>
              <label>Zinhle Zwane </label> 
              <label> Student Number: </label>
          </div>

          <div>
              <label>Nick Sibanyoni </label>
              <label> Student Number: </label>
          </div>
        </mat-card-content>
    </mat-card>
  </div>
  
  </div>
  
