<div id="myDIV" class="header">
  <a class="heading">Forum</a>
<br>
  <span class="input-group-btn">  
      <button class="btn btn-primary" type="submit"  routerLink="/addquestion" >Add a Question</button>
    </span>
</div>
<div *ngIf="Questions">
      
      <div class="container" *ngFor="let hero of Questions"  [routerLink]="['/answer', hero.ID]">
          
          <button [routerLink]="['/answer', hero.ID]"><span>Reply</span></button>
          <p>{{hero.Question1}}</p>
          <span class="time-right"></span>
        </div>
        <br>
</div>
