<h1>Add Collaborator</h1>


  <form [formGroup]="collaboratorForm" (ngSubmit)="onFormSubmit()">   
            <div class="col">     
        <div class="form-group">
                      <input formControlName="name" placeholder="Name" class="acc-input"> 
                     <span *ngIf="!collaboratorForm.get('name').value && collaboratorForm.get('Name').touched"></span>  
                  
        </div>

              <div class="form-group">
                      <input formControlName="surname"  placeholder="Surname" class="acc-input">  
                      <span *ngIf="!collaboratorForm.get('surname').value && collaboratorForm.get('Surname').touched"></span>  
           
                  </div>

                   <div class="form-group">
                      <input formControlName="username"  placeholder="Username" class="acc-input">  
                      <span *ngIf="!collaboratorForm.get('username').value && collaboratorForm.get('Username').touched"></span>  
                 
                  </div>

                  <div class="form-group">
                      <input formControlName="email"  placeholder="Email" class="acc-input">  
                      <span *ngIf="!collaboratorForm.get('email').value && collaboratorForm.get('Email').touched"></span>                  
                  </div>
                
                 
                </div>
            <div class="col-main">
                  <div class="form-group">
                      <input formControlName="phoneNo"  placeholder="Phone Number" class="acc-input">  
                      <span *ngIf="!collaboratorForm.get('phoneNo').value && collaboratorForm.get('phoneNo').touched"></span>  
                      </div>
              <div class="form-group">
                <input formControlName="jobDescr"  placeholder="Job Description" class="acc-input">  
                <span *ngIf="!collaboratorForm.get('jobDescr').value && collaboratorForm.get('jobDescr').touched"></span>  
              </div>

              <div class="form-group">
                <input formControlName="Qualification"  placeholder="Qualification" class="acc-input">  
                <span *ngIf="!collaboratorForm.get('qualification').value && collaboratorForm.get('Qualification').touched"></span>  

              </div>
            </div>

  <button type="submit" matTooltip="Click Submit Button"[disabled]="!collaboratorForm.valid" class="btn-primary"> Submit</button>
  <button type="reset" matTooltip="Click Reset Button" (click)="resetForm()" class="btn-primary">Reset</button>
  <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" >  
    {{message}}</p>  
</form> 

