<h1 class="notification is-info">Your feed</h1>
<div class="container-fluid">
    <button routerLink = "postUpdate" class= "btn-primary" id = "btnSubArt">Submit an article</button>
</div>
<div class="columns">
    <div class="column is-7">
    <!-- <div *ngFor="let feed of articles" *ngIf= "!feed.archive">
        <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img
                    src="https://bulma.io/images/placeholders/128x128.png"
                    onerror="this.src = '../assets/images/Canswer Logo.PNG'"
                    alt="Image"
                    />
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>{{ feed.title }}</strong>
                    <small>{{ feed.createdAt }}</small> <br />
                    {{ feed.description }}
                    </p>
                </div>
            </div>
        </article> 
        </div>
    </div>-->
</div>