
<a class="heading">Collaborators</a>
  <br><br>  
    

            
    <button class="btn" routerLink="/AddCollaborator">Add Collaborator</button>
  <br>
 
        <table class="table" *ngIf="show">  
            <tr ngclass="btn-primary">  
              <th class="tbl2">Name</th>  
              <th class="tbl2">Surname</th>  
              <th class="tbl2">Qualification</th>  
              <th class="tbl2">Email</th> 

              <th class="tbl2">Action</th>
         
            </tr>  
            <tr *ngFor="let collaborator of allcollaborators | async">  
              <td class="tbl2">{{collaborator.Name}}</td>  
              <td class="tbl2">{{collaborator.Surname }}</td>  
              <td class="tbl2">{{collaborator.Qualification}}</td>
              <td class="tbl2">{{collaborator.email_address}}</td>
              <td class= "tb12"><button mat-icon-button (click)="collaboratorToEdit(collaborator.ID)"><mat-icon>visibility</mat-icon></button></td>
              <td class= "tb12"><button mat-icon-button (click)="collaboratorToEdit(collaborator.ID)"><mat-icon>edit</mat-icon></button></td>
              <td class= "tb12"><button mat-icon-button><mat-icon>delete</mat-icon></button></td>
             
       
            </tr>  
          </table> 


          
                             
                           
                      
                    
      

     


