<div class="main__container">
  <div class="acc-card">

    <main class="acc-content">
      <!-- acc form -->
      <h1 class="acc-welcome-text">Account Information</h1>
    
      
      <form class="acc-form">
                <div>
                    <label>Username </label>
                      <input  type="text"  name="username" class="acc-input" value="{{currentUser.username}}" readOnly >
                  </div>
                  <div>
                  <label>Email </label>
                  <input type="text"  name="username" class="acc-input" value = "{{currentUser.email}}" readOnly>
              </div>
              <div>
                  <label>Password </label>
                  <input type="text"  name="Password" class="acc-input" value = "{{currentUser.password}}" readonly>
              </div>
              
      </form>
    </main>
 
   

  </div>

